@mixin background-transparant($color, $alpha: .5) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin transition-property($transition-property) {
	-webkit-transition-property: $transition-property;
	-moz-transition-property: $transition-property;
	transition-property: $transition-property;
}


// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin text-gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  color: -webkit-gradient(linear, left $start-percent, left $end-percent, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
  color: -webkit-linear-gradient(top, $start-color, $start-percent, $end-color, $end-percent); // Safari 5.1+, Chrome 10+
  color:  -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
  color: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
}
