.banner-top {
	max-width: 1280px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.back-to-top {
	padding: 30px 11px;
	border-radius: 42px;
	cursor: pointer;
	&:hover {
		background: $gray-darker;
	}
}

// BANNER
// -------------------------
.banner-top {
	margin-top: 30px;
	margin-bottom: 50px;
	background-color: $gray-darker !important;
}
.kontak,
.foto,
.video,
.tulisan {
	.banner-top {
		background: url("../img/bg-abw-small.jpg") no-repeat top center;
		height: 100px;
	}
}

// CONTENT
// -------------------------
.entry-content {
	margin-bottom: 50px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $gray-darker;
	}
	p {
		margin-bottom: 30px;
	}
	input,
	textarea,
	select {
		margin-bottom: 15px;
	}
	label {
		color: $gray-darker;
	}
	img {
		max-width: 100%;
	}
}

.page-title {
	font-size: 44px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 60px;
	color: $gray-darker;
}


// BUTTON
// -------------------------
.btn-uppercase {
	text-transform: uppercase;
}

.btn-send-contact {
  padding: 15px 70px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 600;
	margin-top: 35px;
	&:hover {
		background: $kuning;
		border-color: $kuning;
	}
}

.btn-download {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
}


// MISC
// -------------------------
.site-line-bottom {
	&:after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 0;
		height: 6px;
		width: 120px;
		background: $kuning;
	}
}
.half-line-bottom {
	border-bottom: 6px solid $kuning;
	padding-bottom: 10px;
	display: inline-block;
}

.line-top-banner {
	border-top: 6px solid $gray-darker;
}


// PARSLEY
// -------------------------
.parsley-error-list {
	list-style: none;
	margin: -10px 0 10px;
	padding: 0;
	color: $red;
}


// PAGINATION
// ------------------------
.pagination {
	a {
		letter-spacing: 2px;
		background: $gray-lighter;
		color: $gray-dark;
		font-size: 14px;
	}
	li{
		&.active{
			a {
				background: $white;
				color: $gray-darker;
				border: 2px solid $gray-lighter;
			}
		}
	}
}

.pagination > li > a {
	border: 2px solid $gray-lighter;
	margin: 0 5px;
}
.pagination > .active > a:hover {
	border: 2px solid $gray-lighter;
}


// Arsip Tulisan
#arsip-tulisan-wrapper {
	margin-top: 40px;
}


// REKAMAN
// -------------------------
.home__content_rekaman,
.rekaman_content_list {
	margin-top: 30px;
}
.rekaman-wrap {
	@include make-lg-column(6);
	.img-rekaman {
		float: left;
		margin-right: 20px;
	}
	.rekaman-content {
		float: left;
		width: 400px;
	}
	.rekaman-player {
		margin-bottom: 10px;
	}
	.btn {
		letter-spacing: 3px;
		font-size: 13px;
		i {
			margin-right: 5px;
		}
	}
}
.post-entry {
	.rekaman-wrap {
		@include make-lg-column(12);
	}
	.rekaman-content {
		float: left;
		width: 82%;
	}
}

.related_content_wrap {
	.rekaman-content {
		width: auto;
	}
}